<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Gelf"/>
  </extensions>

  <targets>
    <target name="graylog"
            xsi:type="Gelf"
            endpoint="udp://localhost:12201"
            facility="ConsoleApp"
            layout="${message} ${exception:format=tostring}">
      <parameter name="sequence" layout="${pad:padCharacter=0:padding=6:inner=${counter:sequence=Layout}}" />
      <parameter name="machinename" layout="${machinename}" />
      <parameter name="level" layout="${level}" />
      <parameter name="windows-identity" layout="${windows-identity:domain=false}" />
      <parameter name="basedir" layout="${basedir}" />
      <parameter name="process" layout="${processinfo:property=ProcessName}" />
      <parameter name="version" layout="${assembly-version}" />
    </target>
    <target name="console" xsi:type="ColoredConsole" layout="${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="graylog" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
